<!-- app/templates/books.html -->

{% extends "base.html" %}

{% set active_page = "books" %}

{% block content %}

    <h2>Welcome to the Books Page</h2>
    <br>
    <a class="btn btn-secondary mb-5" role="button" href="/books/new">Add New Book to Our Collection</a>
    <br>
    <h4>{{ message }}</h4>
    {% if books %}
    <ul>
        {% for book in books %}
        <li><p>{{ book["title"] }}</p></li>
        <hr>
        {% endfor %}
    </ul>
    
    {% else %}
    <p>Books not found.</p>
    {% endif %}

{% endblock %}