<!-- app/templates/new_book.html -->

{% extends "base.html" %}

{% block content %}

    <h1>Add New Tweet</h1>
    <p>Please type your text in the field!</p>

    <form action="/tweets/create" method="POST">

        <label>Text:</label>
        <textarea type="text" rows="4" cols="100" maxlength="280" name="tweet_text" placeholder="This is my tweet" value="This is my tweet">
        </textarea><br/>
        <label>User:</label>
        <select name="username">
            <option value="tigju">Tigju</option>
            <option value="user1">User 1</option>
            <option value="user2">User 2</option>
        </select>

        <button class="btn btn-dark">Tweet</button>
    </form>

{% endblock %}