<!-- app/templates/tweets.html -->

{% extends "base.html" %}

{% block content %}

    <h2>Welcome to the Tweets Page</h2>
    <p>{{ message }}</p>
    
    {% if tweets %}
    <ul>
        {% for tweet in tweets %}
        <li>
            <p>{{ tweet["full_text"] }}</p>
            {% for user in users %}
                {% if user['id'] == tweet['user_id'] %}
                    <span>- {{ user['screen_name'] }}</span></li>
                {% endif %}
            {% endfor %}
        <hr>
        {% endfor %}
    </ul>
    
    {% else %}
    <p>Tweets not found.</p>
    {% endif %}
    
{% endblock %}