<!-- app/templates/users_list.html -->

{% extends "base.html" %}

{% block content %}

<h2>List of All Users</h2>
<p>{{ message }}</p>

<form action="/list" method="POST">
    <div class="form-row"></div>
    <!-- TODO: Instead of hard-coding these drop-down menu options, dynamically populate them based on user records from the database -->
    <label for="username">Twitter Username</label>
    <input type="text" name="username" id="username" class="form-control" placeholder="Type in Twitter username..." />
    <br>

    <button class="btn btn-secondary">Find User</button>
</form>

{% if users %}
<ul>
    {% for user in users %}
    <li>
        <h2>Twitter User: {{ user.screen_name }} </h2>
        <p>Name: {{ user.name }}</p>
        <p>Location: {{ user.location }}</p>
        <p>Followers: {{ user.followers_count }}</p>
    </li>
    <hr>
    {% endfor %}
</ul>
{% else %}
<p>Users not found.</p>
{% endif %}

{% endblock %}